/* Import Geologica font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;700&display=swap');

:root {
    --primary-color: #2c3e50;
    --accent-color: #808991;
    --background-color: #fffff;
    --text-color: #2c3e50;
    --boy-color: #87ceeb;
    --girl-color: #c8b7d6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegura que el contenedor padre tenga al menos la altura de la ventana */
    font-family: 'Geologica', sans-serif;
    background: linear-gradient(to left, #c8b7d6 50%, #87ceeb 50%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    /*line-height: 1.6;*/
}

.container {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    margin: 1rem;
    padding: 1rem;
    z-index: 1;
    border-radius: 5px;
}

.image-left {
    max-width: 4%;
    float: left;
    margin-right: 0px; /* Ajusta el margen según tu preferencia */
    margin-bottom: 1rem;
    z-index: 1;
}

.image-center {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.welcome-section {
    text-align: center;
    padding: 0;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
}

.title {
    font-size: 2rem;
    color: var(--primary-color);
}

.countdown-section {
    text-align: center;
    margin: 0;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

.time-block {
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 100px;
}

.time-block span {
    display: block;
}

.time-block span:first-child {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--accent-color);
}

.prediction-section {
    text-align: center;
    margin: 1rem 0;
}

.prediction-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

.predict-btn {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.predict-btn[data-prediction="niño"] {
    background-color: var(--boy-color); /* Color para el botón de niño */
}

.predict-btn[data-prediction="niña"] {
    background-color: var(--girl-color); /* Color para el botón de niña */
}

.predict-btn:hover {
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

/* Styles for result.html */
.container-result {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    margin: 1rem;
    padding: 1rem;
    z-index: 1;
    border-radius: 5px;
    text-align: center;
}

.welcome-section-result {
    padding: 1rem 0;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
}

.title-result {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.subtitle-result {
    font-size: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.predictions-section-result {
    margin-top: 2rem;
}

.ranking-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}

.predictions-list {
    list-style: none;
}

.prediction-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 10px;
    border-radius: 10px;
    color: white;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.prediction-item.correct {
    background-color: var(--boy-color); /* Color para las predicciones correctas */
}

.position {
    font-size: 1.5em;
    font-weight: bold;
}

.position.gold {
    color: gold;
}

.position.silver {
    color: silver;
}

.position.bronze {
    color: #cd7f32;
}

.name, .option {
    margin-left: 0px;
}

/* Podium Styles */
.podium {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 1rem;
    
}

.podium-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100px;
    margin: 0 10px;
    background-color: var(--boy-color); /* Cambia según sea necesario */
    border-radius: 10px 10px 0 0;
    padding: 1rem;
    color: white;
    position: relative;
    transition: background-color 0.3s ease;
}

.podium-item.position-1 {
    background-color: gold;
    height: 200px;
}

.podium-item.position-2 {
    background-color: silver;
    height: 175px;
}

.podium-item.position-3 {
    background-color: #cd7f32; /* Bronze color */
    height: 150px;
}

.podium-item::before {
    content: attr(data-position);
    position: absolute;
    top: -30px;
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
}

.floating-widget {
    position: fixed;
    bottom: 0; /* Ajusta según tu preferencia */
    right: 20px; /* Ajusta según tu preferencia */
    max-width: 200px; /* Ajusta según tu preferencia */
    max-height: 200px; /* Ajusta según tu preferencia */
    background-color: #ffffff;
    border-radius: 10px; /* Opcional: para bordes redondeados */
    text-align: center;
}

.floating-widget img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px; /* Opcional: para bordes redondeados */
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Design */
@media (max-width: 768px) {

    .container {
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        margin: 2rem;
        padding: 2rem;
        border-radius: 5px;
    }

    .container-result{
        width: 95%;
        height: 95%;
        border-radius: 5px;
    }
    
    .title {
        font-size: 2rem;
    }

    #countdown {
        flex-wrap: nowrap;
        gap: 0.5rem;
    }

    .time-block {
        min-width: 50px;
        padding: 0.5rem;
    }

    .time-block span:first-child {
        font-size: 1.5rem;
    }

    .floating-widget {
        position: fixed;
        bottom: 0; /* Ajusta según tu preferencia */
        right: 20px; /* Ajusta según tu preferencia */
        max-width: 200px; /* Ajusta según tu preferencia */
        max-height: 200px; /* Ajusta según tu preferencia */
        background-color: #f9f9f9;
        border-radius: 10px; /* Opcional: para bordes redondeados */
        text-align: center;
    }

    .image-left {
        max-width: 5%;
        float: left;
        margin-right: 0px; /* Ajusta el margen según tu preferencia */
    }

    .image-center {
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }
}